<form class="col-md-7 col-sm-12" [formGroup]="form">
    <div class="md-form">
        <input type="text" id="nome" class="form-control" formControlName="nome">
        <label for="nome">Nome</label>
    </div>
    <div class="md-form">
        <input type="text" id="cargo" class="form-control" formControlName="cargo">
        <label for="cargo">Cargo</label>
    </div>
    <div class="md-form">
        <input type="text" id="perfilGit" class="form-control" formControlName="perfilGit">
        <label for="perfilGit">Perfil do github</label>
    </div>
    <button class="btn btn-md blue-darak-bg text-white" (click)="onSubmit()" type="submit">Cadastrar</button>
</form>